/* CSS Media Queries - More Examples */

.media-queries1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: tan;
    color: white;
}

/* Pada layar lebar 992px atau kurang, warna background blue. */
@media screen and (max-width: 992px) {
    .media-queries1 {
        background-color: blue;
    }
}

/* Pada layar, lebar 600px atau kurang, warna background menjadi olive. */
@media screen and (max-width: 600px) {
    .media-queries1 {
        background-color: olive;
    }
}

/* ----------------------------------------------------------------- */

.media-queries2 {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #333;
    box-shadow: 5px 5px 10px brown;        /* Urutan: Horizontal ke Vertical */
}

.media-queries2 a {
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: .5s;
}

/* Mengubah warna background menu saat hover mouse */
.media-queries2 a:hover {
    background-color: #ddd;
    color: black;
}

/* Pada saat layar 600px, menu navigasi berubah menjadi atas ke bawah. */
@media screen and (max-width: 600px) {
    .media-queries2 a {
        float: none;
        width: 100%;
    }
}
/* -------------------------------------------------------------------- */
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
  }

  .row {
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  /* ----------------------------------------------------------- */

  .queries4 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .kolom2 {
    flex: 25%;
    padding: 20px;
    box-sizing: border-box;
  }

  .a1 {background-color: #aaa;}
  .a2 {background-color: #bbb;}
  .a3 {background-color: #ccc;}
  .a4 {background-color: #ddd;}

  @media screen and (max-width: 992px) {
    .kolom2 {flex: 50%;}
  }

  /* @media screen and (max-width: 600px) {
    .kolom2 {flex: 100%;}
  } */

  @media screen and (max-width: 600px) {
    .queries4 {
        flex-direction: column;
    }
  }
  /* ---------------------------------------------------------- */
  