/* CSS Flexbox */

.bungkus1 {
    display: -webkit-flex;
    display: flex;
    background-color: gainsboro;
    width: 300px;
    height: 200px;
}

.item1 {
    width: 100px;
    height: 50px;
    background-color: brown;
    color: white;
    margin: 5px;
}

.bungkus2 {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 150px;
    background-color: gainsboro;
    direction: rtl;
}

.item2 {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    margin: 5px;
}

.bungkus3 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    width: 400px;
    height: 150px;
    background-color: gainsboro;
}

.item3 {
    background-color: brown;
    color: white;
    width: 100px;
    height: 100px;
    margin: 5px;
}